[Desktop Entry]
Name=Haruhi bikini
Name[ru]=Харухи в бикини
Name[en_US]=Haruhi bikini
Name[en_GB]=Haruhi bikini
Name[x-test]=xxHaruhi bikinixx

X-KDE-PluginInfo-Name=Haruhi bikini
X-KDE-PluginInfo-Author=
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-License=WTFPL

